.login-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  margin-right: 30px;
  gap: 10px;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.nav-section img {
  width: 10em;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}

.menu-area::before {
  content: '';
  width: 12em;
}

.search_bar {
  position: relative;
}

.search_bar input {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  padding-left: 30px;
  font-size: 1em;
  width: 13em;
}
.search_bar .search_icon {
  position: absolute;
  top: 1px;
}

.product_all {
  margin: 0 auto;
  text-align: center;
}

.product_card {
  width: 15em;
  margin-bottom: 1em;
  margin: 1em;
}

.product_card img {
  width: 15em;
}

.product_card:hover {
  transform: scale(1.1);
}

.product_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em;
  gap: 2em;
}

@media screen and (max-width: 576px) {
  .product_card {
    width: 21em;
  }

  .product_card img {
    width: 21em;
  }
}
