.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.search_bar {
  position: relative;
}

.search_bar input {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  padding-left: 30px;
  font-size: 1em;
  width: 8em;
}
.search_bar .search_icon {
  position: absolute;
  top: 1px;
}
